<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.android.myapplication">

    <application

        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        >
        <activity
            android:name=".CalendarMainActivity"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>

</manifest>